################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/multidbclient/multidbclient/obj/*
/multidbservice/WcfService1/obj/Debug/MultiDBService.csprojResolveAssemblyReference.cache

#Binarios
*.dll
*.pdb
