<h3>MANAGER</h3>

<p>
    CreateDatabase
</p>
<div class="row">
    <form ng-submit="addDatabase()" class="col-md-3">
            <div class="row"><input class="form-control margin-top-5" type="text" ng-model="name" placeholder="name" /></div>
            <div class="row"><input class="btn btn-primary margin-top-5" type="submit" value="Enviar" /></div>
    </form>
</div>