
<h2>Home</h2>

<p>
    Bienvenido a multidbproject. En este proyecto permite la administración de multiples base de datos conectandose por medio de un administrador.
</p>
<p>
    El multidbclient utiliza .NET Web Api y Angular version 1.2.  La Web Api permite comunicarse y retornar información. La información es transmitida a através de JSON para realizar las consultas y támbien para recibir los resultados.
</p>

<p>
   Se utiliza como lenguaje de programación C# y visual studio, y utilizando una base datos como Meta data de este servicio la base de datos Maria DB.
</p>

<h3>Herramientas utilizadas: </h3>
<table border="2px" align="center" cellspacing="20px" >
    <tr>
        <th scope="col"><center>Microsoft Visual Studio</center></th>
        <th scope="col"><center>MicrosoftSQL Server</center></th>
        <th scope="col"><center>MariaDB</center></th>
        <th scope="col"><center>HeidiSQL</center></th>
        <th scope="col"><center>MongoDB</center></th>
    </tr>
    <tr>
        <td WIDTH=224 HEIGHT=218 align="center"><a href="https://www.visualstudio.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Visual_Studio_2013_Logo.svg/990px-Visual_Studio_2013_Logo.svg.png" WIDTH=204 HEIGHT=198 /></a></td>
        <td WIDTH=250 align="center"><a href="https://www.microsoft.com/es-es/server-cloud/products/sql-server/"><img src="https://upload.wikimedia.org/wikipedia/de/thumb/8/8c/Microsoft_SQL_Server_Logo.svg/690px-Microsoft_SQL_Server_Logo.svg.png" WIDTH=230 HEIGHT=187 /></a></td>
        <td WIDTH=265 align="center"><a href="https://mariadb.org/"><img src="https://chakraos.org/wiki/images/1/1d/Mariadb.png" /></a></td>
        <td WIDTH=220 align="center"><a href="http://www.heidisql.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/3/32/HeidiSQL_logo_image.png" WIDTH=200 HEIGHT=200 /></a></td>
        <td WIDTH=283 align="center"><a href="https://www.mongodb.org/"><img src="https://www.mongodb.com/assets/MongoDB_Brand_Resources/MongoDB-Logo-7db53b4037f9953e9df4f694c758141fcfa022cee1d2ff50749d133d0b70b692.jpg " WIDTH=263 HEIGHT=72 /></a></td>
    </tr>
</table>
