<h3>MANAGER</h3>

<section>
    <div class="jumbotron">

        <div class="row">
            <h2 class="text-center">Connections</h2>
            <br />

            <i ng-show="!DBConnections" class="fa fa-circle-o-notch fa-spin fa-4x" style="width: 100%; text-align: center"></i>
            <div ng-show="DBConnections" class="col-md-4" ng-repeat="DBC in DBConnections">
                <div class="panel panel-default">

                    <div class="panel-heading">{{DBC.alias}}</div>

                    <div class="panel-body">
                        <span><strong>Database Type: </strong>{{DBC.database_type}}</span>
                        <br />
                        <span><strong>User: </strong>{{DBC.user}}</span>
                        <br />
                        <span><strong>Server: </strong>{{DBC.server}}</span>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-group text-center" role="group" aria-label="...">

                            <input type="hidden" ng-model="DBClicked" value="{{DBC.ID}}" />
                            <button type="submit" ng-model="DBCOption" class="btn btn-primary" value="view-tables">Ver Tablas</button>

                            <button type="submit" ng-model="DBCOption" class="btn btn-danger" value="drop">Eliminar Conexión</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="text-center">Data Bases</h2>
            <br />

            <i ng-show="!databases" class="fa fa-circle-o-notch fa-spin fa-4x" style="width: 100%; text-align: center"></i>
            <div ng-show="databases" class="col-md-3" ng-repeat="DB in databases">
                <div class="panel panel-default">

                    <div class="panel-heading">{{DB.name}}</div>

                    <div class="panel-footer">
                        <form ng-submit="viewTables()">
                            <div class="row text-center">
                                <input type="hidden" ng-model="DB_ID" value="{{DB.ID}}" />
                                <button type="submit" class="btn btn-primary">Ver Tablas</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="row alert alert-danger margin-top-5 text-center" ng-show="showWarningMessage">{{warningMessage}}</div>
        <div class="row alert alert-success margin-top-5 text-center" ng-show="showSuccessMessage">{{successMessage}}</div>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">

                <div class="panel-heading">Add Connection</div>

                <form ng-submit="addDatabase()">
                    <div class="panel-body">
                        <div class="well-sm">

                            <div class="row">
                                <select ng-required="true" ng-model="database_type" class="form-control margin-top-5">
                                    <option value="">database_type</option>
                                    <option value="mariaDB">mariaDB</option>
                                    <option value="mongoDB">mongoDB</option>
                                    <option value="SQLServer">SQLServer</option>
                                </select>
                            </div>
                            <div class="row">
                                <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="user" placeholder="user" />
                            </div>
                            <div class="row">
                                <input ng-required="true" class="form-control margin-top-5" type="password" ng-model="pass" placeholder="pass" />
                            </div>
                            <div class="row">
                                <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="server" placeholder="server" />
                            </div>
                            <div class="row">
                                <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="protocol" placeholder="protocol" />
                            </div>
                            <div class="row">
                                <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="port" placeholder="port" />
                            </div>
                            <div class="row">
                                <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="alias" placeholder="alias" />
                            </div>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <button type="submit"
                                    class="btn btn-primary"
                                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                                ADD
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-6">

            <div class="panel panel-default">

                <div class="panel-heading">Create Database</div>

                <form ng-submit="createDatabase()">
                    <div class="panel-body">
                        <div class="well-sm">
                            <div class="row"><input ng-required="true" class="form-control" type="text" ng-model="DB_name" placeholder="Name" /></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <button type="submit"
                                    class="btn btn-primary"
id                                    data-loading-text="
                                <i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                                ADD
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Create Table</div>
                <form ng-submit="createTable()">
                    <div class="panel-body">
                        <div class="well-sm">

                            <div class="row"><input ng-required="true" class="form-control" type="text" ng-model="table_name" placeholder="Table name" /></div>
                            <div class="row">
                                <select ng-required="true" ng-model="database_id" class="form-control margin-top-5">
                                    <option value="">Data Base</option>
                                    <option ng-repeat="DB in databases" value="{{DB.ID}}">{{DB.name}}</option>
                                </select>
                            </div>
                        </div>

                        <table class="table">
                            <thead> 
                                <tr>
                                    <th>Alias Connection</th>
                                    <th>Column Name</th>
                                    <th>Type</th>
                                    <th>Null</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <select ng-required="true" class="table_alias form-control">
                                            <option value="">Connection</option>
                                            <option ng-repeat="DBC in DBConnections" value="{{DBC.ID}}">{{DBC.alias}}</option>
                                        </select>
                                    </th>
                                    <td><input ng-required="true" type="text" class="table_name form-control" /></td>
                                    <td>
                                        <select ng-required="true" class="table_type form-control">
                                            <option value="">Type</option>
                                            <option value="string">String</option>
                                            <option value="int">Int</option>
                                            <option value="double">Double</option>
                                        </select>
                                    </td>
                                    <td><input type="checkbox" class="table_null form-control" value="1" /></td>
                                 </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-primary btn-block btn-sm margin-top-5" ng-click="addNewRow()" data-loading-text="
                            <i class='fa fa-circle-o-notch fa-spin'></i>"
                            >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span> Column
                        </button>

                    </div>
                    <div class="panel-footer">
                        
                        <div class="row text-center">
                            <button type="submit"
                                    class="btn btn-primary"
                                    data-loading-text="
                                <i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                                ADD
                            </button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

        <div class="col-md-3">
            <div class="panel panel-default">

                <div class="panel-heading">Drop Table</div>

                <form ng-submit="dropTable()">
                    <div class="panel-body">
                        <div class="well-sm">
                            <div class="row">
                                <select class="Database form-control margin-top-5">
                                    <option value="">Table</option>
                                    <option ng-repeat="table in tables" value="{{table.ID_table}}">{{table.database_name}}.{{table.table_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <button type="submit"
                                    class="btn btn-danger"
                                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                                DROP
                            </button>
                         </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</section>
<section> <!-- QUERIES -->
    <div class="row"></div>
    <div class="panel panel-default">
        <div class="panel-heading">Queries</div>
        <div class="panel-body">
            <div id="querydiv">
                <form>
                    <div class="row">
                        <!--query  -->
                        <div class="col-md-4">
                            <select class="form-control">
                                <option value="select"> select </option>
                                <option value="delete"> delete </option>
                                <option value="update"> update </option>
                                <option value="drop"> drop </option>
                            </select>
                        </div>
                        <!-- COLUMNA -->
                        <div class="col-md-4">
                            <select class="form-control">
                                <option value="">column</option>
                                <option value="columna 1">columna 1</option>
                                <option value="columna 2">columna 2</option>
                                <option value="*"> * </option>
                            </select>
                        </div>
                        <!-- TABLA -->
                        <div class="col-md-4">
                            <select class="form-control">
                                <option> FROM </option>
                                <option> tabla 1</option>
                                <option> tabla 2 </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!--JOIN DIV -->
                    <div id="join_div">

                    </div>
                    <br>
                    <!-- WHERE -->
                    <div id="where_div">
                        where
                        <select disabled>
                            <option value="">column</option>
                            <option value="columna 1">columna 1</option>
                            <option value="columna 2">columna 2</option>
                        </select>
                        =
                        <input type="text" disabled>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
            <input type="checkbox" id="where_check" value="value" />
            <label for="chk">Where? </label>
            <br />
            <script>
        $(document).ready(function ($) {
            $('#where_check').change(function ($) {
                if ($('#where_check').is(':checked')) {
                    enableElements($('#where_div').children());
                } else {
                    disableElements($('#where_div').children());
                }
            });
        });

    function disableElements(el) {
        for (var i = 0; i < el.length; i++) {
            el[i].disabled = true;
            disableElements(el[i].children);
        }
    }

    function enableElements(el) {
        for (var i = 0; i < el.length; i++) {
            el[i].disabled = false;

            enableElements(el[i].children);
        }
    }
            </script>
            <div class="panel-footer">
                <div class="row text-center">
                    <button type="submit"
                            class="btn btn-danger"
                            id="load"
                            data-loading-text="
                                <i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                               SUBMIT
                            </button>
                </div>
            </div>
        </div>

    </div>
</section>
