<h3>MANAGER</h3>

<section>
    <div class="jumbotron">

        <div class="row">
            <h2 class="text-center">Connections</h2>
            <br />

            <i ng-show="!DBConnections" class="fa fa-circle-o-notch fa-spin fa-4x" style="width: 100%; text-align: center"></i>
            <div ng-show="DBConnections" class="col-md-4" ng-repeat="DBC in DBConnections">
                <div class="panel panel-default">

                    <div class="panel-heading"><i class="fa fa-cogs" aria-hidden="true"></i> {{DBC.alias}}</div>

                    <div class="panel-body">
                        <span><strong>Database Type: </strong>{{DBC.database_type}}</span>
                        <br />
                        <span><strong>User: </strong>{{DBC.user}}</span>
                        <br />
                        <span><strong>Server: </strong>{{DBC.server}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="text-center">Data Bases</h2>
            <br />

            <i ng-show="!databases" class="fa fa-circle-o-notch fa-spin fa-4x" style="width: 100%; text-align: center"></i>
            <div ng-show="databases" class="col-md-3" ng-repeat="DB in databases">
                <div class="panel panel-default">

                    <div class="panel-heading text-center"><i class="fa fa-database" aria-hidden="true"></i> {{DB.name}}</div>

                    <div class="panel-footer">
                        <div class="row text-center">
                            <button data-database_id="{{DB.ID}}"
                                    data-database_name="{{DB.name}}"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#tablesModal">
                                View Tables <span class="badge"> {{DB.cant_tablas}}</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="tablesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6" ng-repeat="table in tables" ng-show="database_ID_active == table.ID_database">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center"><i class="fa fa-table" aria-hidden="true"></i> {{table.table_name}}</div>
                                    <div class="panel-body">
                                        <!--VIENE LA LISTA -->
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="column in columns" ng-show="column.ID_tabla == table.ID_table"><strong><small>( {{ column.column_type}} )</small></strong> {{ column.column_name}}</li>

                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row text-center">
                                            <button ng-click="dropTableModal(table.ID_table)"
                                                type="button"
                                                class="btn btn-danger"
                                                data-loading-text="
                                                <i class='fa fa-circle-o-notch fa-spin'></i>">
                                                DROP
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <!-- ADD DATABASE-->
        <div class="col-md-3">
            <div class="panel panel-default">

                <div class="panel-heading">Add Connection</div>

                <form ng-submit="addDatabase()">
                    <div class="panel-body">

                        <select ng-required="true" ng-model="database_type" class="form-control">
                            <option value="">database_type</option>
                            <option value="mariaDB">mariaDB</option>
                            <option value="mongoDB">mongoDB</option>
                            <option value="SQLServer">SQLServer</option>
                        </select>
                        <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="user" placeholder="user" />

                        <input ng-required="true" class="form-control margin-top-5" type="password" ng-model="pass" placeholder="pass" />

                        <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="server" placeholder="server" />

                        <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="protocol" placeholder="protocol" />

                        <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="port" placeholder="port" />

                        <input ng-required="true" class="form-control margin-top-5" type="text" ng-model="alias" placeholder="alias" />
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <button type="submit"class="btn btn-primary"
                                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                ADD
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- CREATE DATABASE-->
        <div class="col-md-6">

            <div class="panel panel-default">

                <div class="panel-heading">Create Database</div>

                <form ng-submit="createDatabase()">
                    <div class="panel-body">
                        <input ng-required="true" class="form-control" type="text" ng-model="DB_name" placeholder="Name" />
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <button type="submit"
                                    class="btn btn-primary"
                                     data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                CREATE
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Create Table</div>
                <form ng-submit="createTable()">
                    <div class="panel-body">
                        <input ng-required="true" class="form-control" type="text" ng-model="table_name" placeholder="Table name" />
                        <select ng-required="true" ng-model="database_id" class="form-control margin-top-5">
                            <option value="">Data Base</option>
                            <option ng-repeat="DB in databases" value="{{DB.ID}}">{{DB.name}}</option>
                        </select>
                        <hr />
                        <table class="table" id="createTable">
                            <thead>
                                <tr>
                                    <th>Alias Connection</th>
                                    <th>Column Name</th>
                                    <th>Type</th>
                                    <th>Null</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <select ng-required="true" class="table_alias form-control">
                                            <option value="">Connection</option>
                                            <option ng-repeat="DBC in DBConnections" value="{{DBC.ID}}">{{DBC.alias}}</option>
                                        </select>
                                    </th>
                                    <td><input ng-required="true" type="text" class="table_name form-control" /></td>
                                    <td>
                                        <select ng-required="true" class="table_type form-control">
                                            <option value="">Type</option>
                                            <option value="string">String</option>
                                            <option value="entero">Integer</option>
                                            <option value="doble">Double</option>
                                        </select>
                                    </td>
                                    <td><input type="checkbox" class="table_null form-control" value="1" /></td>
                                </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-primary btn-block btn-sm margin-top-5" ng-click="addNewRow()" data-loading-text="
                            <i class='fa fa-circle-o-notch fa-spin'></i>"
                            >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span> Column
                        </button>

                    </div>
                    <div class="panel-footer">

                        <div class="row text-center">
                            <button type="submit"
                                    class="btn btn-primary"
                                    data-loading-text="
                                <i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                                CREATE
                            </button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
        <!--- DROP TABLE-->
        <div class="col-md-3">
            <div class="panel panel-default">

                <div class="panel-heading">Drop Table</div>

                <form ng-submit="dropTable()">
                    <div class="panel-body">
                        <select ng-model="drop_table_ID" class="form-control">
                            <option value="">Table</option>
                            <option ng-repeat="table in tables" value="{{table.ID_table}}">{{table.DB_name}}.{{table.table_name}}</option>
                        </select>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <button type="submit"
                                    class="btn btn-danger"
                                    data-loading-text="
                                <i class='fa fa-circle-o-notch fa-spin'></i>"
                                >
                                DROP
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>        
</section>

<section>
    <!-- QUERIES -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Select</div>

                <div class="panel-body">
                    <form ng-submit="executeQuery()" id="formQuery">
                        <!-- DATABASE -->
                        <div class="input-group">
                            <span class="input-group-addon">Source</span>
                            <select ng-model="source" class="query_DB form-control">
                                <option value="">Data Base</option>
                                <option ng-repeat="DB in databases" value="{{DB.ID}}">{{DB.name}}</option>
                            </select>
                        </div>
                        <hr />
                        <!-- TABLA -->
                        <div class="query_tables">
                            <div class="input-group">
                                <span class="input-group-addon">From</span>
                                <div class="cont_query_table">
                                    <select class="query_table form-control">
                                        <option value="">Table</option>
                                        <option ng-repeat="table in tables"
                                                value="{{table.ID_table}}"
                                                name_table="{{table.table_name}}"
                                                class="{{table.ID_database}}">
                                            {{table.DB_name}}.{{table.table_name}}
                                        </option>
                                    </select>
                                </div>
                                <span class="table_ input-group-addon btn btn-primary"
                                      id="basic-addon1"
                                      ng-click="addNewRowTable()"
                                      data-loading-text="
                                    <i class='fa fa-circle-o-notch fa-spin'></i>"
                                    >
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> join
                                </span>
                            </div>
                            <div class="cont_new_query_table"></div>
                        </div>
                        <hr />
                        <!-- COLUMNA -->
                        <div class="query_columns">
                            <div class="input-group">
                                <span class="input-group-addon">Column</span>
                                <div class="cont_query_column">
                                    <select class="query_column form-control">
                                        <option value="">column</option>
                                        <option ng-repeat="column in columns"
                                                value="{{column.ID}}"
                                                class="{{column.ID_tabla}}"
                                                id_table="{{column.ID_tabla}}"
                                                name_table="{{column.table_name}}"
                                                id_column="{{column.ID}}"
                                                name_column="{{column.column_name}}">
                                            {{column.table_name}}.{{column.column_name}}
                                        </option>
                                    </select>
                                </div>
                                <span class="input-group-addon btn btn-primary"
                                      id="basic-addon1"
                                      ng-click="addNewRowColumn()"
                                      data-loading-text="
                                    <i class='fa fa-circle-o-notch fa-spin'></i>">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </span>
                            </div>
                            <div class="cont_new_query_column"></div>
                        </div>

                        
                        <!-- Where -->
                        <div id="where_div" class="margin-top-5" style="display: none;">
                            <hr />
                            <div class="input-group margin-top-5">
                                <span class="input-group-addon">Where</span>

                                <select disabled
                                        id="executeQuery_column"
                                        ng-model="columnFilter"
                                        class="query_where_columns query_column form-control">
                                    <option value="">column</option>
                                    <option ng-repeat="column in columns"
                                            type="{{column.column_type}}"
                                            column_name="{{column.table_name}}.{{column.column_name}}"
                                            value="{{column.ID}}"
                                            class="{{column.ID_tabla}}">
                                        ({{column.column_type}})  {{column.table_name}}.{{column.column_name}}
                                    </option>
                                </select>

                                <select disabled id='wherediv_where_condition'ng-model="methodFilter" class="input-group-addon text-center form-control">
                                    <option value="=" selected>=</option>
                                    <option value="!=">!=</option>
                                    <option value="<"><</option>
                                    <option value=">">></option>
                                </select>

                                <input id="wherediv_input" type="text" ng-model="byValueFilter" class="byValueFilter form-control" disabled>

                                <span class="input-group-addon btn btn-primary"
                                        id="basic-addon1"
                                        ng-click="addNewRow()"
                                        data-loading-text="
                                    <i class='fa fa-circle-o-notch fa-spin'></i>"
                                    >
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>
                        
                        <!--GROUP BY!-->
                        <div id="groupby_div" class="margin-top-5" style="display: none;">
                            <hr />
                            <div class="input-group margin-top-5">
                                <span class="input-group-addon">Group By</span>
                                <select disabled id="group_by_slect" ng-model="groupFilter" class="query_where_columns query_column form-control">
                                    <option value="">column</option>
                                    <option ng-repeat="column in columns"
                                            type="{{column.column_type}}"
                                            value="{{column.ID}}"
                                            class="{{column.ID_tabla}}">
                                        ({{column.column_type}})  {{column.table_name}}.{{column.column_name}}
                                    </option>
                                </select>
                            </div>
                        </div>                        
                        <hr />
                        <input  type="checkbox" id="where_check" value="value" />
                        <label for="where_check">Where? </label>
                        <input id="chk_groupby" type="checkbox" ng-model="group_by" value="true" />
                        <label for="chk_groupby">Group By</label>
                        <input id="RAW" type="checkbox" ng-model="RAW" value="true" />
                        <label for="">RAW? </label>
                    </form>
                </div>

                <div class="panel-footer">
                    <div class="row text-center">
                        <button type="submit"
                                form="formQuery"
                                class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#queryModal"
                                data-loading-text="
                            <i class='fa fa-circle-o-notch fa-spin'></i>"
                            >
                            SUBMIT
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!--- INSERT DATA -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">INSERT DATA</div>
                <div class="panel-body">
                    <form ng-submit="query_insertData()" class="insert_form" id="insert_form">

                        <div class="input-group">
                            <span class="input-group-addon">Source</span>
                            <select ng-model="source_insertData" class="query_DB form-control">
                                <option value="">Data Base</option>
                                <option ng-repeat="DB in databases" value="{{DB.ID}}">{{DB.name}}</option>
                            </select>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">Table</span>
                            <select class="query_table_insertdata form-control" ng-model="table_datainsert">
                                <option value="">Table</option>
                                <option ng-repeat="table in tables" value="{{table.ID_table}}" class="{{table.ID_database}}">{{table.DB_name}}.{{table.table_name}}</option>
                            </select>
                        </div>

                        <br />
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <!-- Se repiten las columnas y se muestra el nombre-->
                                <tr>
                                    <td ng-repeat="column in columns" id_column="{{column.ID}}" class="query_columninsertdata {{column.ID_tabla}}" ng-show="table_datainsert" style="display: none;">
                                        <small> <strong>{{column.column_type}}</strong></small> {{column.column_name}}{{column.column_null != 1 ? "*" : ""}}
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="table_body_columnsInsert">
                                <!-- row de las inserciones -->
                                <tr>
                                    <td ng-repeat="column in columns" class="query_columninsertdata {{column.ID_tabla}}" style="display: none;">
                                        <input id_column="{{column.ID}}"
                                               class="form-control"
                                               type="{{column.column_type == 'string'? 'text': 'number'}}"
                                               step="{{column.column_type == 'entero'? '1': 'any'}}"
                                               is_required="{{column.column_null != 1}}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <button type="submit"
                                form="insert_form"
                                class="btn btn-primary"
                                data-loading-text="
                            <i class='fa fa-circle-o-notch fa-spin'></i>">
                            INSERT
                        </button>
                    </div>
                </div>

                

            </div>
        </div>
        <!---UPDATE DATA -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">UPDATE DATA</div>
                
                <div class="panel-body">
                    <form ng-submit="queryAcutalizar()" id="formUpdate">
                        <div class="input-group">
                            <span class="input-group-addon">Source</span>
                            <select ng-model="source_actualizar" class="query_DB form-control">
                                <option value="">Data Base</option>
                                <option ng-repeat="DB in databases" value="{{DB.ID}}">{{DB.name}}</option>
                            </select>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">Table</span>
                            <select ng-form="table_actualizar" class="query_table form-control">
                                <option value="">Table</option>
                                <option ng-repeat="table in tables" value="{{table.ID_table}}" class="{{table.ID_database}}">{{table.DB_name}}.{{table.table_name}}</option>
                            </select>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">New Value</span>
                            <input ng-model="value_actualizar" class="form-control" id="input_actualizar" />
                        </div>
                        
                        <hr />
                        <div class="input-group margin-top-5">
                            <span class="input-group-addon">Where</span>

                            <select  ng-model="columnFilter_actualizar" class="query_where_columns query_column form-control">
                                <option value="">column</option>
                                <option ng-repeat="column in columns" 
                                        type="{{column.column_type}}" 
                                        value="{{column.ID}}" 
                                        class="{{column.ID_tabla}}">({{column.column_type}})  {{column.table_name}}.{{column.column_name}}</option>
                            </select>

                            <select ng-model="methodFilter_actualizar" class="input-group-addon text-center form-control">
                                <option value="=" selected>=</option>
                                <option value="!=">!=</option>
                                <option value="<"><</option>
                                <option value=">">></option>
                            </select>
                            
                            <input type="text" ng-model="byValueFilter_actualizar" class="byValueFilter form-control" >

                        </div>
                    </form>
                </div>

                <div class="panel-footer">
                    <div class="text-center">
                        <button type="submit"
                                form="formUpdate"
                                class="btn btn-primary"
                                data-loading-text="
                            <i class='fa fa-circle-o-notch fa-spin'></i>">
                            UPDATE
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- DELETE DATA ROW-->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">DELETE ROW</div>

                <div class="panel-body">
                    <form ng-submit="queryBorrar()" id="formDelete">
                        <div class="input-group">
                            <span class="input-group-addon">Source</span>
                            <select ng-model="source_eliminar" class="query_DB form-control">
                                <option value="">Data Base</option>
                                <option ng-repeat="DB in databases" value="{{DB.ID}}">{{DB.name}}</option>
                            </select>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">Table</span>
                            <select ng-form="table_eliminar" class="query_table form-control">
                                <option value="">Table</option>
                                <option ng-repeat="table in tables" value="{{table.ID_table}}" class="{{table.ID_database}}">{{table.DB_name}}.{{table.table_name}}</option>
                            </select>
                        </div>

                        <hr />
                        <div class="input-group margin-top-5">
                            <span class="input-group-addon">Where</span>

                            <select ng-model="columnFilter_eliminar" class="query_where_columns query_column form-control">
                                <option value="">column</option>
                                <option ng-repeat="column in columns" type="{{column.column_type}}" value="{{column.ID}}" class="{{column.ID_tabla}}">({{column.column_type}})  {{column.table_name}}.{{column.column_name}}</option>
                            </select>

                            <select ng-model="methodFilter_eliminar" class="input-group-addon text-center form-control">
                                <option value="=" selected>=</option>
                                <option value="!=">!=</option>
                                <option value="<"><</option>
                                <option value=">">></option>
                            </select>

                            <input type="text" ng-model="byValueFilter_eliminar" class="byValueFilter form-control">
                        </div>
                    </form>
                </div>

                <div class="panel-footer">
                    <div class="text-center">
                        <button type="submit"
                                form="formDelete"
                                class="btn btn-primary"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                            DELETE
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <i ng-show="!queryResult" class="fa fa-circle-o-notch fa-spin fa-4x" style="width: 100%; text-align: center"></i>
                <pre class="" ng-show="queryResult && RAW == true">{{queryResult}}</pre>
                <table class="table table-bordered table-hover" ng-show="queryResult &&  !RAW == true">
                    <thead>
                        <tr>
                            <th ng-repeat="column in columnsActive">{{column}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in queryResult">
                            <td ng-repeat="column in columnsActive">{{row[column]}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger text-center" ng-show="showWarningMessage">{{warningMessage}}</div>
                    <div class="alert alert-success text-center" ng-show="showSuccessMessage">{{successMessage}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
